<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.web.mapper.NoticeMapper" >
    <!--添加公告-->
<insert id="addNotice" parameterType="Notice">
    insert into noticetable(id,ntitle,ncontent,ntime)
    values(null,#{ntitle},#{ncontent},now())
</insert>
    <!--删除公告-->
<delete id="deleteNotice" parameterType="Integer">
    delete from noticetable where id=#{id}
</delete>
    <!--根据id查询单个公告-->
    <select id="selectANotice" resultType="Notice" parameterType="Integer">
        select id,ntime,ncontent,ntime from noticetable where id = #{id}
    </select>
    <!--查询所有公告信息-->
<select id="findAllNotice" resultType="Notice">
    SELECT id,ntitle,ncontent,ntime from noticetable where 1=1


</select>

</mapper>