<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.web.mapper.NoticeMapper" >
    <!--添加公告-->
    <insert id="addNotice" parameterType="Notice">
        insert into noticetable(title,content,time)
        values(#{title},#{content},#{time})
    </insert>
    <!--删除公告-->
    <delete id="deleteNotice" parameterType="Integer">
        delete from noticetable where id=#{id}
    </delete>
    <!--根据id查询单个公告-->
    <select id="selectANotice" resultType="Notice" parameterType="Integer">
        select id,title,content,time from noticetable where id = #{id}
    </select>
    <!--查询所有公告信息-->
    <select id="findAllNotice" resultType="Notice">
        SELECT id,title,content,time from noticetable
    </select>
    <!--分页查询公告-->
    <select id="findNotice" resultType="java.util.Map" parameterType="com.nice.web.pojo.Notice">
        SELECT id,title,content,DATE_FORMAT(time,"%Y-%m-%d %H:%m") time from noticetable where 1=1
        <if test="title!=null">
            and  title like concat('%',#{title},'%')
        </if>
    </select>
    <!-- 修改公告信息 -->
    <update id="updateNotice" parameterType="Notice">
        update noticetable set title=#{title},content=#{content},time = #{time}where  id = #{id}
    </update>
</mapper>