<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.web.mapper.SubscribeMapper" >
    <resultMap id="SubscribeMap" type="com.nice.web.pojo.Subscribe" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="classroom_id" property="classroomId" jdbcType="INTEGER" />
        <result column="seats_id" property="seatsId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
        <result column="state" property="state" jdbcType="INTEGER" />
    </resultMap>

    <!--获取今天或者明天的已经预约的座位-->
    <select id="findSubscribeSeats" resultMap="SubscribeMap">
        SELECT * from subscribe where create_time BETWEEN #{time} and #{endTime} and state=0
        <if test="classroomId">
            and classroom_id = #{classroomId}
        </if>
        <if test="createTime!=null and createTime!=''">
            and create_time BETWEEN #{createTime} and end_time
        </if>
    </select>

    <!--添加预约-->
    <insert id="insertSubscribe" parameterType="com.nice.web.pojo.Subscribe" useGeneratedKeys="true" keyProperty="id">
        insert into Subscribe (user_id,classroom_id,seats_id,create_time,end_time,state) value (#{userId},#{classroomId},#{seatsId},#{createTime},#{endTime},0)
    </insert>

    <!--查询本月预约的数据    -->
    <select id="findMonthSubscribe" resultType="java.util.Map">
       SELECT date_format(create_time,'%Y-%m-%d') date,count(date_format(create_time,'%Y-%m-%d')) count FROM subscribe WHERE 1=1
        <if test="month=='' and month ==null">
           and date_format(create_time,'%Y-%m') = date_format(curdate(),'%Y-%m')
        </if>
        <if test="month!=null and month!=''">
            and date_format(create_time,'%Y-%m') = #{month}
        </if>
        GROUP BY date_format(create_time,'%Y-%m-%d')
    </select>
</mapper>