<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.web.mapper.UserFeedbackMapper" >

    <select id="findUserFeedback" resultType="java.util.Map">
        SELECT
        user_feedback.id,
        userinfo.studentId,
        user_feedback.email,
        user_feedback.feedback_text feedbackText,
        DATE_FORMAT(user_feedback.create_time,"%y-%m-%d %H:%m") createTime,
        user_feedback.state
    from
        user_feedback,userinfo
    WHERE
        user_feedback.user_id = userinfo.id
        <if test="studentId!=''">
            and userinfo.studentId = #{studentId}
        </if>
    </select>
    <!-- 完成   -->
    <update id="updateUserFeedback">
        update user_feedback set user_feedback.state=1 where user_feedback.id = #{id}
    </update>

</mapper>