<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.web.mapper.UserInfoMapper" >

    <select id="findUserInfo" resultType="java.util.Map">
    select * from UserInfo
    </select>

    <select id="login" resultType="com.nice.web.pojo.UserInfo">
        select * from UserInfo where studentId=#{studentId} and password = #{password};
    </select>

    <update id="updateUserInfoState" parameterType="UserInfo">
        update userinfo set state=#{state} where user_id=#{userId}
    </update>

    <delete id="deleteUserInfo">
        delete from userinfo where user_id=#{userId}
    </delete>
</mapper>