<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.mapper.ClassRoomMapper" >

<!--  查询今天或者明天的教室 和以及预约的数量  -->
  <select id="findAllClassRoom"  resultType="java.util.Map">
    SELECT
    classroom.id,
    classroom.classroom_name classroomName,
    classroom.classroom_number classroomNumber,
    floor,
    x,
    y,
    state,
    number.seatsNum
    from classroom
    LEFT JOIN
    (SELECT classroom.id, COUNT(subscribe.id) seatsNum from
    classroom,subscribe
    WHERE
    classroom.id=subscribe.classroom_id
    and subscribe.create_time BETWEEN #{createTime} and #{endTime} and subscribe.state=0
    GROUP BY classroom_id) number
    ON number.id=classroom.id
    where 1=1
    <if test="classroomId!=null">
      and id=#{classroomId}
    </if>
  </select>
  <select id="findClassRoom" resultType="java.lang.String">
     SELECT
     classroom_name classroomName,
    state
    from classroom where state=0
  </select>

  <select id="findClassRoomById" resultType="ClassRoom">
     SELECT
      id,
      classroom_name classroomName,
      classroom_number classroomNumber,
      floor,
      x,
      y,
      state
      from classroom
      where 1=1
      <if test="id !=null">
        and  id = #{id}
      </if>
  </select>

  <delete id="delete">
    delete from classroom where
            id= #{id}
  </delete>
    <insert id="insertClassroom" parameterType="Classroom">
        insert into classroom(classroom_name,classroom_number,floor,x,y,state)values(#{classroomName},#{classroomNumber},#{floor},#{x},#{y},#{state})
    </insert>
</mapper>