<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.mapper.ClassRoomMapper" >
  <select id="findAllClassRoom"  resultType="java.util.Map">
    SELECT
    classroom.id,
    classroom.classroom_name classroomName,
    classroom.classroom_number classroomNumber,
    floor,
    x,
    y,
    state,
    number.seatsNum
    from classroom
    LEFT JOIN
    (SELECT classroom.id, COUNT(subscribe.id) seatsNum from
    classroom,subscribe
    WHERE
    classroom.id=subscribe.classroom_id
    and subscribe.create_time BETWEEN #{createTime} and #{endTime} and subscribe.state=0
    GROUP BY classroom_id) number
    ON number.id=classroom.id
    where 1=1
    <if test="classroomId!=null">
      and id=#{classroomId}
    </if>
  </select>
  <select id="findClassRoom" resultType="com.nice.pojo.Classroom">
     SELECT
     id,
     floor,
     classroom_name classroomName,
    state
    from classroom where state=0
  </select>

</mapper>