<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.mapper.UserFeedbackMapper" >
  <insert id="insertUserFeedback" parameterType="com.nice.pojo.UserFeedback">
    insert into user_feedback (email,user_id,feedback_text,create_time) value (#{email},#{userId},#{feedbackText},#{createTime})
  </insert>
</mapper>