<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nice.mapper.UserRecordMapper" >
    <select id="findUserRecordByUserId" resultType="com.nice.pojo.UserRecord" parameterType="com.nice.pojo.UserRecord">
        select * from user_record where user_id=#{userId}
    </select>
    <insert id="insertUserRecord" parameterType="com.nice.pojo.UserRecord" >
        insert into user_record  (user_id,subscribe_id,illegal_text,illegal_time) value (#{userId},#{subscribeId},#{illegalText},#{illegalTime})
    </insert>

    <select id="findUserRecord" resultType="java.util.Map">
        SELECT * FROM user_record,
        (SELECT subscribe.id,
        sign_in.signIn_time createTime,
        classroom.classroom_name classroomName,
        classroom.floor,
        seats.seat_munber seatNunber,
        sign_in.state from subscribe,sign_in,classroom,seats
        where subscribe.classroom_id=classroom.id
        and subscribe.seats_id=seats.id
        and sign_in.subscribe_id=subscribe.id
        ) al
        where user_record.subscribe_id = al.id and user_id=#{userId}
    </select>
</mapper>